{% extends './base.html' %}
{% load static %}

{% block scripts %}
    <script
      src="https://cdnjs.cloudflare.com/ajax/libs/gsap/3.5.0/gsap.min.js"
      defer
    ></script>
    <script src="{% static '/scripts/index.js' %}" defer></script>
    <script src="{% static '/scripts/filterHandler.js' %}" defer></script>
{% endblock scripts%}

{% block stylesheets %}
    <!--datatable css-->
    <link
      rel="stylesheet"
      href="https://cdnjs.cloudflare.com/ajax/libs/twitter-bootstrap/4.1.3/css/bootstrap.css"
    />
    <link
      rel="stylesheet"
      href="https://cdn.datatables.net/1.10.21/css/dataTables.bootstrap4.min.css"
    />
    <link
      rel="stylesheet"
      type="text/css"
      href="https://cdn.datatables.net/buttons/1.5.6/css/buttons.dataTables.min.css"
    />
    <!--jqueryui for datepicker-->
    <link
      data-require="jqueryui@*"
      data-semver="1.10.0"
      rel="stylesheet"
      href="//cdnjs.cloudflare.com/ajax/libs/jqueryui/1.10.0/css/smoothness/jquery-ui-1.10.0.custom.min.css"
    />
    <link
      rel="stylesheet"
      href="https://use.fontawesome.com/releases/v5.3.1/css/all.css"
    />
    <link
      rel="stylesheet"
      href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css"
    />
    <link rel="stylesheet" href="{% static 'styles/main.css' %}" />

{% endblock stylesheets%}

{% block title %} Customers {% endblock title %}

{% block content %}
     <!-- Modal for view/edit -->
     {% for customer in queryset %}
     <div class="modal fade" id="editModal-{{customer.id}}" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
      <div class="modal-dialog modal-lg" role="document">
        <div class="modal-content">
          <div class="modal-header">
            <h5 class="modal-title" id="exampleModalLabel">Update Information</h5>
            <button type="button" class="close" data-dismiss="modal" aria-label="Close">
              <span aria-hidden="true">&times;</span>
            </button>
          </div>
          <form action={% url 'customers:dashboard' %} method="post" enctype="multipart/form-data">
            {% csrf_token %}
            <div class="modal-body">
              <div class="form-group row">
                <div class="form-group col">
                  <label class="col-12">Date Registered</label>
                  <div class="col">
                    <input
                    type="text"
                    class="form-control"
                    value="{{customer.date_registered|date:'Y-m-d'}}"
                    name="date_registered"
                    readonly
                    />
                  </div>
                </div>
                <div class="form-group col">
                  <label class="col-12">Employee Id</label>
                  <div class="col">
                    <input type="text" class="form-control"  value="{{customer.employee_id}}" readonly name="employee_id" />
                  </div>
                </div>
              </div>
              <div class="form-group row">
                <label class="col-12">Name</label>
                <div class="col">
                  <input
                    type="text"
                    class="form-control"
                    name="first_name"
                    value="{{customer.first_name}}"
                  />
                </div>
                <div class="col">
                  <input
                    type="text"
                    class="form-control"
                    name="middle_name"
                    value="{{customer.middle_name}}"
                  />
                </div>
                <div class="col">
                  <input
                    type="text"
                    class="form-control"
                    name="last_name"
                    value="{{customer.last_name}}"
                  />
                </div>
              </div>
              <div class="form-group row">
                <label class="col-12">Contact Info</label>
                <div class="col">
                  <input
                    type="email"
                    class="form-control"
                    name="email"
                    value="{{ customer.email }}"
                  />
                </div>
                <div class="col">
                  <input
                    type="text"
                    class="form-control"
                    name="phone_number"
                    value="{{ customer.phone_number }}"
                  />
                </div>
              </div>
              <div class="form-group row">
                <label class="col-12">Address</label>
                <div class="col-12">
                  <input
                    type="text"
                    class="form-control my-2"
                    name="city"
                    value="{{customer.city}}"
                  />
                </div>
                <div class="col-4">
                  <input
                    type="text"
                    class="form-control"
                    name="province"
                    value="{{customer.province}}"
                  />
                </div>
                <div class="col-4">
                  <input
                    type="number"
                    class="form-control"
                    name="zip_code"
                    value="{{customer.zip_code}}"
                  />
                </div>
                <div class="col-4">
                  <input
                    type="text"
                    class="form-control"
                    name="country"
                    value="{{customer.country}}"
                  />
                </div>
              </div>
              <div class="form-row">
                <div class="form-group col-md-4">
                  <label for="bdate">Birthdate</label>
                  <input type="date" class="form-control" name="birthdate"  value="{{customer.birthdate|date:'Y-m-d'}}"/>
                </div>
                <div class="form-group col-md-4">
                  <label for="status">Status</label>
                  <select name="status" class="form-control" value="{{customer.status}}">
                    {% for s in form.status %}
                      {{ s  }}
                    {% endfor %}
                  </select>
                </div>
                <div class="form-group col-md-4">
                  <label class="">Gender</label>
                  <select name="sex" class="form-control" value="{{ customer.sex }}">
                    {% for sex in form.sex %}
                      {{ sex }}
                    {% endfor %}
                  </select>
                </div>
              </div>
              <div class="form-row">
                <div class="form-group col-md-4">
                  <label for="spouse">Spouse's Name</label>
                  <input type="text" class="form-control" name="spouse_name" value="{{customer.spouse_name}}" />
                </div>
                <div class="form-group col-md-4">
                  <label for="spouseOcc">Spouse Occupation</label>
                  <input
                    type="text"
                    class="form-control"
                    name="spouse_occupation"
                    value="{{customer.spouse_occupation}}"
                  />
                </div>
                <div class="form-group col-md-4">
                  <label>No. of Children</label>
                  <input
                    type="number"
                    class="form-control"
                    name="number_of_children"
                    value="{{customer.number_of_children}}"
                  />
                </div>
              </div>
              <div class="form-row">
                <div class="form-group col-md-6">
                  <label for="mother">Mother's Name</label>
                  <input type="text" class="form-control" name="mother_name"  value="{{customer.mother_name}}"/>
                </div>
                <div class="form-group col-md-6">
                  <label for="motherOcc">Occupation</label>
                  <input
                    type="text"
                    class="form-control"
                    name="mother_occupation"
                    value="{{customer.mother_occupation}}"
                  />
                </div>
              </div>
              <div class="form-row">
                <div class="form-group col-md-6">
                  <label for="father">Father's Name</label>
                  <input type="text" class="form-control" name="father_name" value="{{customer.father_name}}"/>
                </div>
                <div class="form-group col-md-6">
                  <label for="fatherOcc">Occupation</label>
                  <input
                    type="text"
                    class="form-control"
                    name="father_occupation"
                    value="{{customer.father_occupation}}"
                  />
                </div>
              </div>
              <div class="form-row">
                <div class="form-group col-md-4">
                  <label for="height">Height</label>
                  <input type="number" class="form-control" name="height" value="{{customer.height}}" />
                </div>
                <div class="form-group col-md-4">
                  <label for="weight">Weight</label>
                  <input type="number" class="form-control" name="weight" value="{{customer.weight}}"/>
                </div>
                <div class="form-group col-md-4">
                  <label>Religion</label>
                  <input type="text" class="form-control" name="religion" value="{{customer.religion}}" />
                </div>
              </div>
              <div class="row">
                <div class="col"></div>
                <div class="col">
                  <img src="{{ customer.profile_pic.url }}" alt="" height="300" width="300">
                  <div class="row">
                    <div class="col text-center">
                      <label>Profile Picture</label>
                      <input
                        type="file"
                        onchange="readURL(this);"
                        class="form-control"
                        name="profile_pic"
                      />
                    </div>
                  </div>
                </div>
                <div class="col"></div>
              </div>
            </div>
            <div class="modal-footer">
              <button class="btn btn-secondary" data-dismiss="modal">Cancel</button>
              <button type="submit" class="btn btn-warning" value="True" name="update">Update</button>
              <input type="hidden" name="id" value="{{ customer.id }}">
            </div>
          </form>
       </div>
      </div>
    </div>
    {% endfor %}
    {% for customer in queryset %}
      <!-- Modal for delete -->
      <div class="modal fade" id="deleteModal-{{customer.id}}" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
        <div class="modal-dialog" role="document">
          <div class="modal-content">
            <div class="modal-header">
              <h5 class="modal-title" id="exampleModalLabel">Delete Customer</h5>
              <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                <span aria-hidden="true">&times;</span>
              </button>
            </div>
            <form action="" method="POST" name="updateCustomer" enctype="multipart/form-data">
              {% csrf_token %}
              <div class="modal-body">
                  <input type="text" name="cid" value="{{customer.id}}" hidden>
                Are you sure you want to delete this customer?
              </div>
              <div class="modal-footer">
                <button type="button" class="btn btn-secondary" data-dismiss="modal">No</button>
                <button type="submit" class="btn btn-danger" id="btnDelete" name="delete" value="True">YES</button>
                <input type="hidden" name="id" value="{{ customer.id }}">
              </div>
            </form>
          </div>
        </div>
      </div>
    {% endfor %}
    <div class="app">
      {% include './navbar.html' with is_customer=is_customer %}

      <div class="bg-color--gray">
        <div class="main-content container" data-router-view>
            <div class="row mb-2">
              <div class="col">
                <p id="date_filter">
                  <span id="date-label-from" class="date-label">From: </span><input class="date-range-filter" type="text" id="dfrom" name="dfrom" />
                  <span id="date-label-to" class="date-label">To:<input class="date-range-filter " type="text" id="dto" name="dto" />
              </p>
              </div>
              <div class="col header-form">
                <div id="export"></div>
                <a href="{% url 'customers:customer_registration' %}">
                  <button type="submit" class="header-form__btn">Add Customer</button>
                </a>
              </div>
            </div>

            <table id="datatable" class="table">
              <thead>
                <tr>
                  <th>First Name</th>
                  <th>Last Name</th>
                  <th>Birthdate</th>
                  <th>City</th>
                  <th>Date Registered</th>
                  <th></th>
                </tr>
              </thead>
              <tbody>
                {% for customer in queryset %}
                  <tr>
                    <td>{{ customer.first_name }}</td>
                    <td>{{ customer.last_name }}</td>
                    <td>{{ customer.birthdate }}</td>
                    <td>{{ customer.city }}</td>
                    <td>{{ customer.date_registered }}</td>
                    <td>
                      <button type="button" class="edit" data-toggle="modal" data-target="#editModal-{{customer.id}}">View</button>
                      <button type="button" class="delete" data-toggle="modal" data-target="#deleteModal-{{customer.id}}">Delete</button>
                    </td>
                  </tr>
                {% endfor %}
              </tbody>
            </table>
          </div>
        <!--</main>-->
      </div>
      </div>

    <!--bootstrapJS-->
    <script src="https://cdn.jsdelivr.net/npm/popper.js@1.16.1/dist/umd/popper.min.js"></script>
    <script src="https://code.jquery.com/jquery-3.5.1.js"></script>
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/js/bootstrap.min.js"></script>
    <!--datatable-->

    <script src="https://cdn.datatables.net/1.10.21/js/jquery.dataTables.min.js"></script>
    <script src="https://cdn.datatables.net/1.10.21/js/dataTables.bootstrap4.min.js"></script>
    <script src="https://cdn.datatables.net/buttons/1.6.2/js/dataTables.buttons.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/jszip/3.1.3/jszip.min.js"></script>
    <script
      type="text/javascript"
      language="javascript"
      src="https://cdn.datatables.net/buttons/1.5.6/js/buttons.html5.min.js"
    ></script>

    <!--datepicker jquierui-->
    <script
      data-require="jqueryui@*"
      data-semver="1.10.0"
      src="//cdnjs.cloudflare.com/ajax/libs/jqueryui/1.10.0/jquery-ui.js"
    ></script>
    <script
      src="//cdnjs.cloudflare.com/ajax/libs/datatables/1.9.4/jquery.dataTables.js"
      data-semver="1.9.4"
      data-require="datatables@*"
    ></script>
    <script>
      // Date range filter
      minDateFilter = '';
      maxDateFilter = '';
      $(document).ready(function () {
        var table = $('#datatable').DataTable({
          // dom: 'lftrip',
          buttons: [
            {
              extend: 'excel',
              text: '<i class="fa fa-files-o"></i> Export',
              titleAttr: 'Excel',
              className: 'btn',
            },
          ],
        });

        table.buttons().container().appendTo('#export');

        // table.on('click', '.edit', function () {
        //   $('#editModal').modal('show');
        // });

        // table.on('click', '.delete', function () {
        //   $('#deleteModal').modal('show');
        // });

        $('#dfrom')
          .datepicker({
            // showOn: "button",
            // buttonImage: "calendar.png",
            // buttonImageOnly: false,
            onSelect: function (date) {
              minDateFilter = new Date(date).getTime();
              table.draw();
            },
          })
          .keyup(function () {
            minDateFilter = new Date(this.value).getTime();
            table.draw();
          });

        $('#dto')
          .datepicker({
            // showOn: "button",
            // buttonImage: "calendar.png",
            // buttonImageOnly: false,
            onSelect: function (date) {
              maxDateFilter = new Date(date).getTime();
              table.draw();
            },
          })
          .keyup(function () {
            maxDateFilter = new Date(this.value).getTime();
            table.draw();
          });
      });

      $.fn.dataTableExt.afnFiltering.push(function (
        oSettings,
        aData,
        iDataIndex
      ) {
        if (typeof aData._date == 'undefined') {
          aData._date = new Date(aData[4]).getTime();
        }

        if (minDateFilter && !isNaN(minDateFilter)) {
          if (aData._date < minDateFilter) {
            return false;
          }
        }

        if (maxDateFilter && !isNaN(maxDateFilter)) {
          if (aData._date > maxDateFilter) {
            return false;
          }
        }

        return true;
      });

      function readURL(input) {
            if (input.files && input.files[0]) {
                var reader = new FileReader();
              //  alert("INSIDE!");
                reader.onload = function (e) {
                    $('#img')
                        .attr('src', e.target.result)
                        .width(300)
                        .height(300);

                };

                reader.readAsDataURL(input.files[0]);
            }
        }
    </script>
{% endblock content %}
