{% extends './base.html' %}
{% load static %}

{% block scripts %}
    <script
      src="https://cdnjs.cloudflare.com/ajax/libs/gsap/3.5.0/gsap.min.js"
      defer
    ></script>
    <script src="{% static '/scripts/index.js' %}" defer></script>
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
{% endblock scripts%}

{% block stylesheets %}
    <link
      rel="stylesheet"
      href="https://cdnjs.cloudflare.com/ajax/libs/twitter-bootstrap/4.5.2/css/bootstrap.min.css"
    />
    <link
      rel="stylesheet"
      href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.14.0/css/all.min.css"
    />
    <link
      rel="stylesheet"
      href="https://cdn.jsdelivr.net/npm/bs-stepper/dist/css/bs-stepper.min.css"
    />
    <link rel="stylesheet" href="{% static 'styles/main.css' %}" />

{% endblock stylesheets%}

{% block title %} Customer Registration {% endblock title %}

{% block content %}
    <div class="app">
      {% include './navbar.html' with is_customer=is_customer %}

      <main class="bg-color--gray">
        <div class="container flex-grow-1 flex-shrink-0 py-5">
          <div class="mb-5 p-4 bg-white shadow-sm">
            <h3>Customer Registration</h3>
            <div id="stepper1" class="bs-stepper">
              <div class="bs-stepper-header mb-4" role="tablist">
                <div class="step" data-target="#test-l-1">
                  <button
                    type="button"
                    class="step-trigger"
                    role="tab"
                    id="stepper1trigger1"
                    aria-controls="test-l-1"
                  >
                    <span class="bs-stepper-circle">1</span>
                    <span class="bs-stepper-label">Personal Information</span>
                  </button>
                </div>
                <div class="bs-stepper-line"></div>
                <div class="step" data-target="#test-l-2">
                  <button
                    type="button"
                    class="step-trigger"
                    role="tab"
                    id="stepper1trigger2"
                    aria-controls="test-l-2"
                  >
                    <span class="bs-stepper-circle">2</span>
                    <span class="bs-stepper-label">Educational Background</span>
                  </button>
                </div>
                <div class="bs-stepper-line"></div>
                <div class="step" data-target="#test-l-3">
                  <button
                    type="button"
                    class="step-trigger"
                    role="tab"
                    id="stepper1trigger3"
                    aria-controls="test-l-3"
                  >
                    <span class="bs-stepper-circle">3</span>
                    <span class="bs-stepper-label"
                      >Professional Background</span
                    >
                  </button>
                </div>
              </div>
              <div class="bs-stepper-content">
                <form onSubmit="return false">
                  <div
                    id="test-l-1"
                    role="tabpanel"
                    class="bs-stepper-pane"
                    aria-labelledby="stepper1trigger1"
                  >
                    <div class="form-group row">
                      <label for="dateRegistered" class="col-2 col-form-label"
                        >Date Registered</label
                      >
                      <div class="col-4">
                        <input
                          type="date"
                          class="form-control"
                          id="dateRegistered"
                          placeholder="Date Today"
                        />
                      </div>
                      <label class="col-2 col-form-label">Employee ID</label>
                      <div class="col-4">
                        <input
                          type="text"
                          class="form-control"
                          id="emId"
                          placeholder="Employee ID"
                        />
                      </div>
                    </div>
                    <div class="form-group row">
                      <label class="col-12">Name</label>
                      <div class="col">
                        <input
                          type="text"
                          class="form-control"
                          id="fName"
                          placeholder="First Name"
                        />
                      </div>
                      <div class="col">
                        <input
                          type="text"
                          class="form-control"
                          id="mName"
                          placeholder="Middle Name"
                        />
                      </div>
                      <div class="col">
                        <input
                          type="text"
                          class="form-control"
                          id="lName"
                          placeholder="Last Name"
                        />
                      </div>
                    </div>
                    <div class="form-group row">
                      <label class="col-12">Address</label>
                      <div class="col-12">
                        <input
                          type="text"
                          class="form-control my-2"
                          id="address"
                          placeholder="Street/Brgy/City"
                        />
                      </div>
                      <div class="col-4">
                        <input
                          type="text"
                          class="form-control"
                          id="province"
                          placeholder="Province"
                        />
                      </div>
                      <div class="col-4">
                        <input
                          type="number"
                          class="form-control"
                          id="zip"
                          placeholder="Zip"
                        />
                      </div>
                      <div class="col-4">
                        <input
                          type="text"
                          class="form-control"
                          id="country"
                          placeholder="Country"
                        />
                      </div>
                    </div>
                    <div class="form-row">
                      <div class="form-group col-md-4">
                        <label for="bdate">Birthdate</label>
                        <input type="date" class="form-control" id="bdate" />
                      </div>
                      <div class="form-group col-md-4">
                        <label for="status">Status</label>
                        <select id="status" name="status" class="form-control">
                          <option value="single">Single</option>
                          <option value="married">Married</option>
                          <option value="widow">Widow/er</option>
                          <option value="divorced">Divorced</option>
                        </select>
                      </div>
                      <div class="form-group col-md-4">
                        <label class="">Gender</label>
                        <select id="gender" name="gender" class="form-control">
                          <option value="male">Male</option>
                          <option value="female">Female</option>
                        </select>
                      </div>
                    </div>
                    <div class="form-row">
                      <div class="form-group col-md-4">
                        <label for="spouse">Spouse's Name</label>
                        <input type="text" class="form-control" id="spouse" />
                      </div>
                      <div class="form-group col-md-4">
                        <label for="spouseOcc">Spouse Occupation</label>
                        <input
                          type="text"
                          class="form-control"
                          id="spouseOcc"
                        />
                      </div>
                      <div class="form-group col-md-4">
                        <label>No. of Children</label>
                        <input
                          type="number"
                          class="form-control"
                          id="childNo"
                        />
                      </div>
                    </div>
                    <div class="form-row">
                      <div class="form-group col-md-6">
                        <label for="mother">Mother's Name</label>
                        <input type="text" class="form-control" id="mother" />
                      </div>
                      <div class="form-group col-md-6">
                        <label for="motherOcc">Occupation</label>
                        <input
                          type="text"
                          class="form-control"
                          id="motherOcc"
                        />
                      </div>
                    </div>
                    <div class="form-row">
                      <div class="form-group col-md-6">
                        <label for="father">Father's Name</label>
                        <input type="text" class="form-control" id="father" />
                      </div>
                      <div class="form-group col-md-6">
                        <label for="fatherOcc">Occupation</label>
                        <input
                          type="text"
                          class="form-control"
                          id="fatherOcc"
                        />
                      </div>
                    </div>
                    <div class="form-row">
                      <div class="form-group col-md-4">
                        <label for="height">Height</label>
                        <input type="number" class="form-control" id="height" />
                      </div>
                      <div class="form-group col-md-4">
                        <label for="weight">Weight</label>
                        <input type="number" class="form-control" id="weight" />
                      </div>
                      <div class="form-group col-md-4">
                        <label>Religion</label>
                        <input type="text" class="form-control" id="religion" />
                      </div>
                    </div>
                    <div class="row">
                      <div class="col"></div>
                      <div class="col">
                        <img id="img" src="#" alt="">
                        <div class="row">
                          <div class="col text-center">
                            <label>Profile Picture</label>
                            <input type="file" onchange="readURL(this);" class="form-control" id="prodimg1" />
                          </div>
                         
                        </div>
                        
                      </div>
                      <div class="col"></div>
                    </div>

                    <div class="form-row buttons mt-4">
                      <button
                        class="btn btn-primary next"
                        onclick="stepper1.next()"
                      >
                        Next
                      </button>
                    </div>
                  </div>

                  <div
                    id="test-l-2"
                    role="tabpanel"
                    class="bs-stepper-pane"
                    aria-labelledby="stepper1trigger2"
                  >
                    <div class="form-row">
                      <div class="col">
                        <label for="elementary"><b>Elementary</b></label>
                      </div>
                    </div>
                    <div class="container-fluid" id="elem">
                      <div class="form-row" id="elemParent">
                        <div class="col-2">
                          &nbsp; &nbsp;<label>School</label>
                        </div>
                        <div class="col-10 mx-0">
                          <input
                            type="text"
                            class="form-control"
                            id="elemSchool"
                          />
                        </div>
                      </div>
                      <div class="form-row">
                        <div class="col-2">
                          &nbsp; &nbsp;<label>Grade</label>
                        </div>
                        <div class="col-10 mx-0">
                          <input
                            type="number"
                            class="form-control"
                            id="elemGrade"
                          />
                        </div>
                      </div>
                      <div class="form-row">
                        <div class="col-2">
                          &nbsp; &nbsp;<label>Year Completed</label>
                        </div>
                        <div class="col-10 mx-0">
                          <input
                            type="number"
                            class="form-control"
                            id="elemGraduated"
                          />
                        </div>
                      </div>
                      <div class="form-row">
                        <div class="col-2">
                          &nbsp; &nbsp;<label>Awards</label>
                        </div>
                        <div class="col-10 mx-0">
                          <textarea
                            class="form-control"
                            id="elemAwards"
                            rows="3"
                          ></textarea>
                        </div>
                      </div>
                    </div>

                    <div class="row">
                      <div class="col text-center">
                        <button class="btn btn-primary btn-sm appendElem">
                          ADD
                        </button>
                      </div>
                    </div>

                    <div class="form-row">
                      <div class="col">
                        <label for="jhss"><b>Junior High School</b></label>
                      </div>
                    </div>

                    <div class="container-fluid" id="js">
                      <div class="form-row">
                        <div class="col-2">
                          &nbsp; &nbsp;<label>School</label>
                        </div>
                        <div class="col-10 mx-0">
                          <input
                            type="text"
                            class="form-control"
                            id="juniorSchool"
                          />
                        </div>
                      </div>
                      <div class="form-row">
                        <div class="col-2">
                          &nbsp; &nbsp;<label>Grade</label>
                        </div>
                        <div class="col-10 mx-0">
                          <input
                            type="number"
                            class="form-control"
                            id="juniorGrade"
                          />
                        </div>
                      </div>
                      <div class="form-row">
                        <div class="col-2">
                          &nbsp; &nbsp;<label>Year Completed</label>
                        </div>
                        <div class="col-10 mx-0">
                          <input
                            type="number"
                            class="form-control"
                            id="juniorGraduated"
                          />
                        </div>
                      </div>
                      <div class="form-row">
                        <div class="col-2">
                          &nbsp; &nbsp;<label>Awards</label>
                        </div>
                        <div class="col-10 mx-0">
                          <textarea
                            class="form-control"
                            id="juniorAwards"
                            rows="3"
                          ></textarea>
                        </div>
                      </div>
                    </div>
                    <div class="row">
                      <div class="col text-center">
                        <button class="btn btn-primary btn-sm appendJS">
                          ADD
                        </button>
                      </div>
                    </div>

                    <div class="form-row">
                      <div class="col">
                        <label for="shss"><b>Senior High School</b></label>
                      </div>
                    </div>
                    <div class="container-fluid" id="shs">
                      <div class="form-row">
                        <div class="col-2">
                          &nbsp; &nbsp;<label>School</label>
                        </div>
                        <div class="col-10 mx-0">
                          <input
                            type="text"
                            class="form-control"
                            id="seniorSchool"
                          />
                        </div>
                      </div>
                      <div class="form-row">
                        <div class="col-2">
                          &nbsp; &nbsp;<label>Grade</label>
                        </div>
                        <div class="col-10 mx-0">
                          <input
                            type="number"
                            class="form-control"
                            id="seniorGrade"
                          />
                        </div>
                      </div>
                      <div class="form-row">
                        <div class="col-2">
                          &nbsp; &nbsp;<label>Year Completed</label>
                        </div>
                        <div class="col-10 mx-0">
                          <input
                            type="number"
                            class="form-control"
                            id="seniorGraduated"
                          />
                        </div>
                      </div>
                      <div class="form-row">
                        <div class="col-2">
                          &nbsp; &nbsp;<label>Strand</label>
                        </div>
                        <div class="col-10 mx-0">
                          <input
                            type="text"
                            class="form-control"
                            id="sstrand"
                          />
                        </div>
                      </div>
                      <div class="form-row">
                        <div class="col-2">
                          &nbsp; &nbsp;<label>Awards</label>
                        </div>
                        <div class="col-10 mx-0">
                          <textarea
                            class="form-control"
                            id="seniorAwards"
                            rows="3"
                          ></textarea>
                        </div>
                      </div>
                    </div>

                    <div class="row">
                      <div class="col text-center">
                        <button class="btn btn-primary btn-sm appendSHS">
                          ADD
                        </button>
                      </div>
                    </div>

                    <div class="form-row">
                      <div class="col">
                        <label for="colege"><b>College</b></label>
                      </div>
                    </div>

                    <div class="container-fluid" id="collge">
                      <div class="form-row">
                        <div class="col-2">
                          &nbsp; &nbsp;<label>School</label>
                        </div>
                        <div class="col-10 mx-0">
                          <input
                            type="text"
                            class="form-control"
                            id="collgeSchool"
                          />
                        </div>
                      </div>
                      <div class="form-row">
                        <div class="col-2">
                          &nbsp; &nbsp;<label>Course</label>
                        </div>
                        <div class="col-10 mx-0">
                          <input
                            type="text"
                            class="form-control"
                            id="collegeCourse"
                          />
                        </div>
                      </div>
                      <div class="form-row">
                        <div class="col-2">
                          &nbsp; &nbsp;<label>Level</label>
                        </div>
                        <div class="col-10 mx-0">
                          <input
                            type="number"
                            class="form-control"
                            id="collegeLevel"
                          />
                        </div>
                      </div>
                      <div class="form-row">
                        <div class="col-2">
                          &nbsp; &nbsp;<label>Year Completed</label>
                        </div>
                        <div class="col-10 mx-0">
                          <input
                            type="number"
                            class="form-control"
                            id="collegeYear"
                          />
                        </div>
                      </div>
                      <div class="form-row">
                        <div class="col-2">
                          &nbsp; &nbsp;<label>Awards</label>
                        </div>
                        <div class="col-10 mx-0">
                          <textarea
                            class="form-control"
                            id="collegeAwards"
                            rows="3"
                          ></textarea>
                        </div>
                      </div>
                    </div>

                    <div class="row">
                      <div class="col text-center">
                        <button class="btn btn-primary btn-sm appendCollege">
                          ADD
                        </button>
                      </div>
                    </div>

                    <div class="form-row">
                      <div class="col">
                        <label for="elementary"><b>Post-Graduate</b></label>
                      </div>
                    </div>

                    <div class="container-fluid" id="postgrad">
                      <div class="form-row">
                        <div class="col-2">
                          &nbsp; &nbsp;<label>School</label>
                        </div>
                        <div class="col-10 mx-0">
                          <input
                            type="text"
                            class="form-control"
                            id="postGradSchool"
                          />
                        </div>
                      </div>
                      <div class="form-row">
                        <div class="col-2">
                          &nbsp; &nbsp;<label>Course</label>
                        </div>
                        <div class="col-10 mx-0">
                          <input
                            type="text"
                            class="form-control"
                            id="postGradCourse"
                          />
                        </div>
                      </div>
                      <div class="form-row">
                        <div class="col-2">
                          &nbsp; &nbsp;<label>Level</label>
                        </div>
                        <div class="col-10 mx-0">
                          <input
                            type="number"
                            class="form-control"
                            id="postGradLevel"
                          />
                        </div>
                      </div>
                      <div class="form-row">
                        <div class="col-2">
                          &nbsp; &nbsp;<label>Year Completed</label>
                        </div>
                        <div class="col-10 mx-0">
                          <input
                            type="number"
                            class="form-control"
                            id="postgradYear"
                          />
                        </div>
                      </div>
                      <div class="form-row">
                        <div class="col-2">
                          &nbsp; &nbsp;<label>Awards</label>
                        </div>
                        <div class="col-10 mx-0">
                          <textarea
                            class="form-control"
                            id="postGradAwards"
                            rows="3"
                          ></textarea>
                        </div>
                      </div>
                    </div>

                    <div class="row">
                      <div class="col text-center">
                        <button class="btn btn-primary btn-sm appendPostGrad">
                          ADD
                        </button>
                      </div>
                    </div>

                    <div class="form-row buttons mt-4">
                      <button
                        class="btn btn-primary previous"
                        onclick="stepper1.previous()"
                      >
                        Previous
                      </button>
                      <button
                        class="btn btn-primary next"
                        onclick="stepper1.next()"
                      >
                        Next
                      </button>
                    </div>
                  </div>

                  <div
                    id="test-l-3"
                    role="tabpanel"
                    class="bs-stepper-pane"
                    aria-labelledby="stepper1trigger3"
                  >
                    <div class="form-row">
                      <div class="col">
                        <label for="elementary"><b>Trainings</b></label>
                      </div>
                    </div>

                    <div class="container-fluid" id="training">
                      <div class="form-row">
                        <div class="col-2">
                          &nbsp; &nbsp;<label>Title</label>
                        </div>
                        <div class="col-10 mx-0">
                          <input
                            type="text"
                            class="form-control"
                            id="trainingTitle"
                          />
                        </div>
                      </div>
                      <div class="form-row">
                        <div class="col-2">
                          &nbsp; &nbsp;<label>Sponsor</label>
                        </div>
                        <div class="col-10 mx-0">
                          <input
                            type="text"
                            class="form-control"
                            id="trainingSponsor"
                          />
                        </div>
                      </div>
                      <div class="form-row">
                        <div class="col-2">
                          &nbsp; &nbsp;<label>Date</label>
                        </div>
                        <div class="col-10 mx-0">
                          <input
                            type="date"
                            class="form-control"
                            id="trainingDate"
                          />
                        </div>
                      </div>
                      <div class="form-row">
                        <div class="col-2">
                          &nbsp; &nbsp;<label>Venue</label>
                        </div>
                        <div class="col-10 mx-0">
                          <input
                            type="text"
                            class="form-control"
                            id="trainingVenue"
                          />
                        </div>
                      </div>
                    </div>

                    <div class="row">
                      <div class="col text-center">
                        <button class="btn btn-primary btn-sm appendTraining">
                          ADD
                        </button>
                      </div>
                    </div>

                    <div class="form-row buttons mt-4">
                      <button
                        class="btn btn-primary previous"
                        onclick="stepper1.previous()"
                      >
                        Previous
                      </button>
                      <button type="submit" class="btn btn-primary next">
                        Submit
                      </button>
                    </div>
                  </div>
                </form>
              </div>
            </div>
          </div>
        </div>
      </main>
    </div>
    <script src="https://cdn.jsdelivr.net/npm/bs-stepper/dist/js/bs-stepper.min.js"></script>
    <script>
      const stepper1 = new Stepper(document.querySelector('#stepper1'));

      $(document).ready(function () {
        $(this).on('click', '.appendElem', function () {
          var elem1 =
            '<div class="container-fluid" id="e">\
                        <div class="form-row"> \
                          <div class="col-2"> \
                            &nbsp;&nbsp; <label>School</label></div>  \
                            <div class="col-10 mx-0"> \
                              <input type="text" class="form-control" id="elemSchool"/> \
                              </div> </div> \
                              <div class="form-row">\
                        <div class="col-2">&nbsp; &nbsp;<label>Grade</label></div>\
                        <div class="col-10 mx-0">\
                          <input\
                            type="number"\
                            class="form-control"\
                            id="elemGrade"\
                          />\
                        </div>\
                      </div>\
                      <div class="form-row">\
                        <div class="col-2">\
                          &nbsp; &nbsp;<label>Year Completed</label>\
                        </div>\
                        <div class="col-10 mx-0">\
                          <input\
                            type="number"\
                            class="form-control"\
                            id="elemGraduated"\
                          />\
                        </div>\
                      </div>\
                      <div class="form-row">\
                        <div class="col-2">\
                          &nbsp; &nbsp;<label>Awards</label>\
                        </div>\
                        <div class="col-10 mx-0">\
                          <textarea\
                            class="form-control"\
                            id="elemSchool"\
                            rows="3"\
                          ></textarea>\
                        </div>\
                      </div>';
          elem1 +=
            '<div class="row">\
                      <div class="col text-center">\
                        <button class="btn btn-danger btn-sm removeElem">REMOVE</button>\
                      </div>\
                    </div>\
                    </div>';
          $('#elem').append(elem1);
        });

        $(this).on('click', '.removeElem', function () {
          var target = $(this).parent().parent().parent();
          target.remove();
        });

        $(this).on('click', '.appendJS', function () {
          var jhs =
            '<div class="container-fluid" id="js">\
                    <div class="form-row">\
                      <div class="col-2">\
                        &nbsp; &nbsp;<label>School</label>\
                      </div>\
                      <div class="col-10 mx-0">\
                        <input\
                          type="text"\
                          class="form-control"\
                          id="juniorSchool"\
                        />\
                      </div>\
                    </div>\
                    <div class="form-row">\
                      <div class="col-2">&nbsp; &nbsp;<label>Grade</label></div>\
                      <div class="col-10 mx-0">\
                        <input\
                          type="number"\
                          class="form-control"\
                          id="juniorGrade"\
                        />\
                      </div>\
                    </div>\
                    <div class="form-row">\
                      <div class="col-2">\
                        &nbsp; &nbsp;<label>Year Completed</label>\
                      </div>\
                      <div class="col-10 mx-0">\
                        <input\
                          type="number"\
                          class="form-control"\
                          id="juniorGraduated"\
                        />\
                      </div>\
                    </div>\
                    <div class="form-row">\
                      <div class="col-2">\
                        &nbsp; &nbsp;<label>Awards</label>\
                      </div>\
                      <div class="col-10 mx-0">\
                        <textarea\
                          class="form-control"\
                          id="elemSchool"\
                          rows="3"\
                        ></textarea>\
                      </div>\
                    </div>';
          jhs +=
            '<div class="row">\
                      <div class="col text-center">\
                        <button class="btn btn-danger btn-sm removeJS">REMOVE</button>\
                      </div>\
                    </div>\
                    </div>';
          $('#js').append(jhs);
        });

        $(this).on('click', '.removeJS', function () {
          var target = $(this).parent().parent().parent();
          target.remove();
        });

        $(this).on('click', '.appendSHS', function () {
          var shs1 =
            '<div class="container-fluid" id="shs">\
                      <div class="form-row">\
                        <div class="col-2">\
                          &nbsp; &nbsp;<label>School</label>\
                        </div>\
                        <div class="col-10 mx-0">\
                          <input\
                            type="text"\
                            class="form-control"\
                            id="seniorSchool"\
                          />\
                        </div>\
                      </div>\
                      <div class="form-row">\
                        <div class="col-2">&nbsp; &nbsp;<label>Grade</label></div>\
                        <div class="col-10 mx-0">\
                          <input\
                            type="number"\
                            class="form-control"\
                            id="seniorGrade"\
                          />\
                        </div>\
                      </div>\
                      <div class="form-row">\
                        <div class="col-2">\
                          &nbsp; &nbsp;<label>Year Completed</label>\
                        </div>\
                        <div class="col-10 mx-0">\
                          <input\
                            type="number"\
                            class="form-control"\
                            id="seniorGraduated"\
                          />\
                        </div>\
                      </div>\
                      <div class="form-row">\
                        <div class="col-2">\
                          &nbsp; &nbsp;<label>Strand</label>\
                        </div>\
                        <div class="col-10 mx-0">\
                          <input type="text" class="form-control" id="sstrand" />\
                        </div>\
                      </div>\
                      <div class="form-row">\
                        <div class="col-2">\
                          &nbsp; &nbsp;<label>Awards</label>\
                        </div>\
                        <div class="col-10 mx-0">\
                          <textarea\
                            class="form-control"\
                            id="seniorAwards"\
                            rows="3"\
                          ></textarea>\
                        </div>\
                      </div>';
          shs1 +=
            '<div class="row">\
                            <div class="col text-center">\
                              <button class="btn btn-danger btn-sm removeSHS">REMOVE</button>\
                            </div>\
                          </div>\
                       </div>';
          $('#shs').append(shs1);
        });

        $(this).on('click', '.removeSHS', function () {
          var target = $(this).parent().parent().parent();
          target.remove();
        });

        $(this).on('click', '.appendCollege', function () {
          var col1 =
            '<div class="container-fluid" id="collge">\
                      <div class="form-row">\
                        <div class="col-2">\
                          &nbsp; &nbsp;<label>School</label>\
                        </div>\
                        <div class="col-10 mx-0">\
                          <input\
                            type="text"\
                            class="form-control"\
                            id="collegeSchool"\
                          />\
                        </div>\
                      </div>\
                      <div class="form-row">\
                        <div class="col-2">\
                          &nbsp; &nbsp;<label>Course</label>\
                        </div>\
                        <div class="col-10 mx-0">\
                          <input\
                            type="text"\
                            class="form-control"\
                            id="collegeCourse"\
                          />\
                        </div>\
                      </div>\
                      <div class="form-row">\
                        <div class="col-2">&nbsp; &nbsp;<label>Level</label></div>\
                        <div class="col-10 mx-0">\
                          <input\
                            type="number"\
                            class="form-control"\
                            id="collegeLevel"\
                          />\
                        </div>\
                      </div>\
                      <div class="form-row">\
                        <div class="col-2">\
                          &nbsp; &nbsp;<label>Year Completed</label>\
                        </div>\
                        <div class="col-10 mx-0">\
                          <input type="number" class="form-control" id="collegeYear" />\
                        </div>\
                      </div>\
                      <div class="form-row">\
                        <div class="col-2">\
                          &nbsp; &nbsp;<label>Awards</label>\
                        </div>\
                        <div class="col-10 mx-0">\
                          <textarea\
                            class="form-control"\
                            id="collegeAwards"\
                            rows="3"\
                          ></textarea>\
                        </div>\
                      </div>';
          col1 +=
            '<div class="row">\
                            <div class="col text-center">\
                              <button class="btn btn-danger btn-sm removeCollege">REMOVE</button>\
                            </div>\
                          </div>\
                       </div>';
          $('#collge').append(col1);
        });

        $(this).on('click', '.removeCollege', function () {
          var target = $(this).parent().parent().parent();
          target.remove();
        });

        $(this).on('click', '.appendPostGrad', function () {
          var pgrad =
            '<div class="container-fluid" id="postgrad">\
                      <div class="form-row">\
                        <div class="col-2">\
                          &nbsp; &nbsp;<label>School</label>\
                        </div>\
                        <div class="col-10 mx-0">\
                          <input\
                            type="text"\
                            class="form-control"\
                            id="postGradSchool"\
                          />\
                        </div>\
                      </div>\
                      <div class="form-row">\
                        <div class="col-2">\
                          &nbsp; &nbsp;<label>Course</label>\
                        </div>\
                        <div class="col-10 mx-0">\
                          <input\
                            type="text"\
                            class="form-control"\
                            id="postGradCourse"\
                          />\
                        </div>\
                      </div>\
                      <div class="form-row">\
                        <div class="col-2">&nbsp; &nbsp;<label>Level</label></div>\
                        <div class="col-10 mx-0">\
                          <input\
                            type="number"\
                            class="form-control"\
                            id="postGradLevel"\
                          />\
                        </div>\
                      </div>\
                      <div class="form-row">\
                        <div class="col-2">\
                          &nbsp; &nbsp;<label>Year Completed</label>\
                        </div>\
                        <div class="col-10 mx-0">\
                          <input type="number" class="form-control" id="postgradYear" />\
                        </div>\
                      </div>\
                      <div class="form-row">\
                        <div class="col-2">\
                          &nbsp; &nbsp;<label>Awards</label>\
                        </div>\
                        <div class="col-10 mx-0">\
                          <textarea\
                            class="form-control"\
                            id="postGradAwards"\
                            rows="3"\
                          ></textarea>\
                        </div>\
                      </div>';
          pgrad +=
            '<div class="row">\
                            <div class="col text-center">\
                              <button class="btn btn-danger btn-sm removePostGrad">REMOVE</button>\
                            </div>\
                          </div>\
                       </div>';
          $('#postgrad').append(pgrad);
        });

        $(this).on('click', '.removePostGrad', function () {
          var target = $(this).parent().parent().parent();
          target.remove();
        });

        $(this).on('click', '.appendTraining', function () {
          var train =
            '<div class="container-fluid" id="training">\
                      <div class="form-row">\
                        <div class="col-2">&nbsp; &nbsp;<label>Title</label></div>\
                        <div class="col-10 mx-0">\
                          <input\
                            type="text"\
                            class="form-control"\
                            id="trainingTitle"\
                          />\
                        </div>\
                      </div>\
                      <div class="form-row">\
                        <div class="col-2">\
                          &nbsp; &nbsp;<label>Sponsor</label>\
                        </div>\
                        <div class="col-10 mx-0">\
                          <input\
                            type="text"\
                            class="form-control"\
                            id="trainingSponsor"\
                          />\
                        </div>\
                      </div>\
                      <div class="form-row">\
                        <div class="col-2">&nbsp; &nbsp;<label>Date</label></div>\
                        <div class="col-10 mx-0">\
                          <input\
                            type="date"\
                            class="form-control"\
                            id="trainingDate"\
                          />\
                        </div>\
                      </div>\
                      <div class="form-row">\
                        <div class="col-2">&nbsp; &nbsp;<label>Venue</label></div>\
                        <div class="col-10 mx-0">\
                          <input type="text" class="form-control" id="trainingVenue" />\
                        </div>\
                      </div>';
          train +=
            '<div class="row">\
                            <div class="col text-center">\
                              <button class="btn btn-danger btn-sm removeTraining">REMOVE</button>\
                            </div>\
                          </div>\
                       </div>';
          $('#training').append(train);
        });

        $(this).on('click', '.removeTraining', function () {
          var target = $(this).parent().parent().parent();
          target.remove();
        });
      });

      function readURL(input) {
            if (input.files && input.files[0]) {
                var reader = new FileReader();
              //  alert("INSIDE!");
                reader.onload = function (e) {
                    $('#img')
                        .attr('src', e.target.result)
                        .width(300)
                        .height(300);
                    
                };

                reader.readAsDataURL(input.files[0]);
            }
        }
    </script>

{% endblock content %}