{% load static %}

<div class="topbar">
  <div class="container">
    <a href="{% url 'main:main' %}"
      ><img src="{% static '/assets/images/logo.svg' %}" alt=""
    /></a>
    <nav class="navigation">
      <a href="{% url 'customers:dashboard' %}" class="nav-item {% if is_customer %}nav-item--selected{% endif %}" id="customers"
        >Customers</a
      >
      <a href="{% url 'products:dashboard' %}" class="nav-item {% if not is_customer %}nav-item--selected{% endif %}" id="products"
        >Products</a
      >
    </nav>
    <div class="user">
      <span class="user__name">Doe, John</span>
      <img
        src="{% static '/assets/images/profile-pic.svg' %}"
        alt=""
        class="user__picture"
      />
    </div>
  </div>
</div>